body {
    font-family: Roboto,sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #2a2a2a;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#header {
    /* background-color: aqua; */
}

#general-content {
    /* background-color: blue; */
}

#section-row {
    display: flex;
    justify-content: space-between;
}

#header-2, #header-3 {
    background-color: #000;
}

#header-wrapper {
    padding: 12px 0;
    display: flex;
}

#inner-header-wrapper {
    margin-left: -15px;
    margin-right: -15px;
}

#logo-and-certification {
    width: 35%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}

#logo {
}

#logo img {
    width: auto;
    height: 50px;
}

#certification {
    width: 70px;
    height: 50px;
}

#certification img {
    height: 100%;
}

#search-and-login {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 65%;
    /* background-color: white; */
    text-align: right;
    display: inline;
    box-sizing: border-box;
}

#search {
    width: 50%;
    /* background-color: cadetblue; */
}

#login {
    padding: 11px 10px;
    text-align: right;
    width: auto;
    float: right;
}

#login a {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 4px;
    max-width: 150px;
    overflow: hidden;
    width: auto;
    word-break: break-all;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    font-size: 12px;
    font-weight: 900;
    color: #ef9021;
    font-family: Roboto,sans-serif;
}

#epaper {
    position: relative;
    float: right;
    padding: 5px 0;
}

#epaper a {
    display: inline-block;
    padding: 9px 15px;
    background: #1583cc;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    transition: all .2s ease;
    font-family: Roboto,sans-serif;
}

#search-submit {
    background: transparent;
    appearance: none;
    border: none;
    cursor: pointer;
    color: transparent;
    width: 35px;
    height: 40px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.middle-container {
    /* background-color: blueviolet; */
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.search-field {
    border-radius: 4px;
    background: #2d2d2d;
    border: 1px solid transparent;
    color: #fff;
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    box-sizing: border-box;
}

.row-view{
    display: table;
    /* background-color: brown; */
    content: "";
}

.row-item {
    position: relative;
    display: inline-block;
}

.nav-link {
    padding: 8px 3px;
    font-size: 11px;
    font-family: Roboto,sans-serif;
}

.nav-link-topic {
    font-family: Roboto Condensed,sans-serif;
    font-weight: 700;
    color: #fff;
    padding: 14px 8px;
}

.section-row-nav-link {
    font-family: Roboto Condensed,sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    display: block;
    padding: 14px 8px;
    text-transform: uppercase;
    position: relative;
}

.left {
    float: left;
}

.right {
    float: right;
}

.search--icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    box-sizing: border-box;
}

.search--icon .icon-search {
    width: 20px;
    height: 20px;
    color: #868686;
    box-sizing: border-box;
}

.flex {
    display: flex
}

.icon-search {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzIuNiAzMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzIuNiAzMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiM4Njg2ODY7fTwvc3R5bGU+PHRpdGxlPnNlYXJjaDwvdGl0bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTYuOSwyMi45bDIuMywyLjNMMi4zLDMyTDAsMjkuN0w2LjksMjIuOUw2LjksMjIuOXogTTE5LjYsMjIuNGMtNS40LDAtOS44LTQuMy05LjgtOS42YzAtNS4zLDQuNC05LjYsOS44LTkuNmM1LjQsMCw5LjgsNC4zLDkuOCw5LjZDMjkuNCwxOC4xLDI1LDIyLjQsMTkuNiwyMi40TDE5LjYsMjIuNHogTTE5LjYsMEMxMi40LDAsNi41LDUuNyw2LjUsMTIuOHM1LjgsMTIuOCwxMy4xLDEyLjhjNy4yLDAsMTMuMS01LjcsMTMuMS0xMi44UzI2LjgsMCwxOS42LDBMMTkuNiwweiIvPjwvc3ZnPg==);
    background-size: 100%;
    box-sizing: border-box;
}

.headline {
    width: 70%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: #868686; */
}

.wrapper {
    padding: 15px;
    background: #f1f1f1;
    margin: 20px 0 0;
    height: fit-content;
}

.outerwrapper {
    width: 30%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    box-sizing: border-box;
}

.teaser {
    padding: 0 0 5px;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    font-family: Roboto,sans-serif;
}

.clearfix:after, .clearfix:before {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.headline-thumb-row {
    margin-bottom: 15px;
}

.headline-thumb-link {
    font-size: 14px;
    font-weight: 400;
    height: 73px;
    max-height: 73px;
    overflow: hidden;
    padding: 0 6px;
}

.headline-smalls {
    position: relative;
    overflow: hidden;
    height: 218px;
    background-color: #000;
}

.headline-thumb .slick-slider {
    margin-bottom: 15px;
}

.headline-item {
    margin: 0 0 5px;
    position: relative;
    cursor: pointer;
}

.headline-image {
    margin: 0 0 5px;
    position: relative;
    cursor: pointer;
}

.headline-thumb-link {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    text-decoration: none;
    display: block;
}

#section-row .nav-link {
    font-size: 14px;
}

.headline-subtitle {
    font-family: Roboto,sans-serif;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 1;
    background: #fff;
    text-transform: uppercase;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #71c4d6;
}

.headline-big-box {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: rgba(0,0,0,.7);
}

.headline-big-img {
    width: 740px;
    height: 493px;
    overflow: hidden;
    position: relative;
}

.headline-big-title {
    color: #fff;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.1;
    padding: 0 20px;
    margin: 0 0 10px;
}

.headline-big-date {
    padding: 0 20px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #9b9b9b;
}

.highlight-row {
    margin-top: 20px;
}

.highlight-section {
    width: 70%;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Roboto,sans-serif;
    font-size: 14px;
}

#highlight-side-section {
    width: 30%;
    line-height: 1.3;
}

.title {
    position: relative;
    border-bottom: 1px solid #9b9b9b;
}

.title-center:after {
    content: "";
    position: absolute;
    left: 33.3333333%;
    bottom: 0;
    width: 33.3333333%;
    border-bottom: 5px solid #3ca5dd;
}

.title-content {
    font-family: Roboto Condensed,sans-serif;
    position: relative;
    display: inline-block;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: #4a4a4a;
    text-transform: uppercase;
}

.title-content:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 101%;
    border-bottom: 5px solid #3ca5dd;
}

.title-center .title-content:after {
    border-bottom: transparent;
}

.button-title {
    margin: 20px 0 0;
    padding: 0;
    letter-spacing: 0;
    font-size: 11px;
    font-weight: 700;
    color: #3ca5dd;
    text-transform: uppercase;
}

.article-row {
    width: 33.33333%;
    position: relative;
    min-height: 1px;
    float: left;
}

.article-grid {
    position: relative;
}

.article-asset {
    position: relative;
}

.article-box {
    position: relative;
    margin: -20px 10px 0;
    background: #fff;
    padding: 10px;
}

.article-subtitle {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
}

.article-subtitle_inline {
    padding: 0 5px 0 0;
    display: inline-block;
    color: #e55225;
}

.article-box-subtitle {
    font-family: Roboto,sans-serif;
    padding: 5px 10px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 15px;
    z-index: 1;
    color: #e55225;
}

.article-title {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    color: #000;
    margin: 0 0 10px;
    height: 86px;
    overflow: hidden;
    font-family: Roboto;
}

.outer-article-row {
    margin-top: 20px;
}

.article-link {
    display: block;
}

*, :after, :before {
    box-sizing: border-box;
}

.article-list {
    margin: 0 0 15px;
    background: #fff;
    position: relative;
}

.article-list-asset {
    width: 197px;
    float: left;
    padding-right: 20px;
    background: #fff;
    z-index: 2;
    position: relative;
}

.article-list-title {
    height: 70px;
    overflow: hidden;
    margin-bottom: 18px;
}

.article-list-video{

}

.article-title {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    color: #000;
    margin: 0 0 10px;
}

.article-title_medium {
    font-size: 26px;
    line-height: 1.3;
}

.article-date {
    font-size: 12px;
    color: #666;
    margin: 0 0 10px;
    display: inline-block;
}

a, a:hover {
    text-decoration: none;
}

a:hover {
    color: #3ca5dd;
}

a {
    color: inherit;
    vertical-align: baseline;
    outline: 0;
    transition: all .2s ease;
}

.latest-section {
    margin-top: 20px;
}

.embed-section {
    width: 100%;
    position: relative;
    padding-bottom: 50%;
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
}

.title-center {
    text-align: center;
}

/* KOMPAS ID SIDEBAR */

.margin-top-30px {
    margin-top: 30px;
}

.margin-top-20px {
    margin-top: 20px;
}

.margin-top-10px {
    margin-top: 10px;
}

.article-box-subtitle-kompas{
    background: #3ca5dd!important;
    color: #fff!important;
}

.article-asset-kompas{
    margin-bottom: 10px;
    height: 150px;
    overflow: hidden;
}

.article-title-kompas{
    height: 44px;
    overflow: hidden;
    font-family: Roboto,sans-serif;
}

.article-footnote{
    padding: 8px 0 0;
    border-top: 1px solid #9b9b9b;
    font-size: 12px;
    font-family: Roboto,sans-serif;
}

/* TERPOPULER */

.most, .most-list {
    position: relative;
    padding-left: 60px;
    margin-bottom: 1px;
    height: 100px;
    background: #f1f1f1;
    transition: all .2s ease;
}

.most-count{
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    background: #71c4d6;
    padding: 15px 0;
    text-align: center;
    border-right: 1px solid #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    font-family: Roboto,sans-serif;
}

.most-title{
    padding: 0 10px;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    height: 62px;
    margin: 11px 0 5px;
    font-family: Roboto,sans-serif;
}

.most-read{
    padding: 0 10px;
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
    color: #9b9b9b;
    font-family: Roboto,sans-serif;
}

.article-box-offset-0 {
    background: #f0f0f0;
    padding: 10px 0 0;
    margin: 0;
}

.article-title-bullet{
    position: relative;
    padding: 7px 20px 0 30px;
    font-size: 16px;
    line-height: 1.3;
    height: 77px;
    overflow: hidden;
    margin: 0;
    border-bottom: 1px solid #fff;
    font-family: Roboto,sans-serif;
}

.article-title-bullet:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 10px;
    width: 8px;
    height: 8px;
    background: #2a2a2a;
}

.topic-wrap {
    position: relative;
    margin-bottom: 15px;
}

.article-asset img {
    display: block;
    width: 100%;
}

.offset-left-right-minus-15px {
    margin-right: -15px;
    margin-left: -15px
}

.article-asset-highlight {
    width: 100%;
    height: 163px;
    background-position: 50%;
    background-size: cover;
}

.break-row-item {
    width: 25%;
}farticle-asset-highlight

.break-row-wrap > div{
    height: 290px;
}

.article-row .article-title{
    height: 86px;
    overflow: hidden;
}

.article-partner {
    height: 50px;
    padding: 0 0 5px;
}

.offset-left-right-padding-15px{
    padding-left: 15px;
    padding-right: 15px;
}

.break-row-item .article-title{
    height: 65px;
    max-height: 65px;
    overflow: hidden;
}

.reset-padding{
    padding: 0;
}

.break-row-wrap .article-grid{
    padding-left: 15px;
    padding-right: 15px;
}

/* OPINION */

.opinion-list{
    padding: 15px 0 15px 120px;
    height: 167px;
}

.opinion-wrap {
    font-family: Roboto, sans-serif;
}

.opinion-wrap, .opinion-list{
    position: relative;
}

.opinion-asset{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50px;
}

.opinion-pull-left{
    position: absolute;
    left: 0;
    top: 15px;
    z-index: 1;
}

.opinion-author {
    font-size: 14px;
    font-weight: 700;
    color: #3ca5dd;
}

.opinion-link {
    display: block;
}

.opinion-authortitle{
    font-size: 12px;
    color: #9b9b9b;
    margin-bottom: 5px;
    margin-top: 1px;
}

.opinion-title{
    font-size: 16px;
    font-weight: 300;
    color: #4a4a4a;
    height: 83px;
    overflow: hidden;
}

.comment-box{
    background: #f5fcff;
    padding: 5px 0;
}

.comment-item{
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    padding: 15px;
}

.comment-news{
    padding: 0;
    background: #e4f4fc;
    border-radius: 5px;
    overflow: hidden;
}

.comment-news h4{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    height: 39px;
    overflow: hidden;
    margin: 7px 10px 0;
}

.comment-news span{
    display: block;
    padding: 3px 0 0;
    font-size: 11px;
}

.comment-image{
    float: left;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: 10px;
}

.comment-username{
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
}

.comment-text{
    position: relative;
    margin: 10px 0 0;
    font-size: 15px;
    line-height: 1.5;
}

.comment-link{
    display: block;
}

.reduce-left-right {
    margin-left: -15px;
    margin-right: -15px;
}

/* KOMPAS Youtube embed */

.article-list-video .article-list-asset{
    width: 550px;
}

.article-list-video .article-list-title{
    height: 222px;
}

.article-list-video .article-title {
    font-size: 24px;
    height: auto;
}

.article-time{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #9b9b9b;
    margin-bottom: 10px;
}

.article-time .icon{
    margin-right: 5px;
    font-size: 15px;
}

.icon-time {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjYgMzIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI2IDMyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6IzlCOUI5Qjt9PC9zdHlsZT48dGl0bGU+c2VhcmNoPC90aXRsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTQsNlY0aDRWMmMwLTEuMS0wLjktMi0yLTJoLTZDOC45LDAsOCwwLjksOCwydjJoNHYyQzUuMyw2LjUsMCwxMi4yLDAsMTljMCw3LjIsNS44LDEzLDEzLDEzczEzLTUuOCwxMy0xM0MyNiwxMi4yLDIwLjcsNi41LDE0LDZ6IE0yMC4xLDI2LjFDMTguMiwyOCwxNS43LDI5LDEzLDI5cy01LjItMS03LjEtMi45UzMsMjEuNywzLDE5czEtNS4yLDIuOS03LjFjMS44LTEuOCw0LjItMi44LDYuOC0yLjlMMTIsMTguOGMtMC4xLDAuOCwwLjQsMS4yLDEsMS4yczEuMS0wLjQsMS0xLjJMMTMuMyw5YzIuNiwwLjEsNC45LDEuMSw2LjgsMi45QzIyLDEzLjgsMjMsMTYuMywyMywxOVMyMiwyNC4yLDIwLjEsMjYuMUwyMC4xLDI2LjF6Ii8+PC9zdmc+);
}

.icon {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto 100%;
    width: 1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.article-list::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.title_clean {
    border-bottom: 1px solid transparent;
}

.title_clean .title-content:after{
    border-bottom: transparent;
}

.article-photo-wrap .icon-photo-right {
    right: 20px;
}

.article-photo-wrap .icon-photo-slider {
    position: absolute;
    color: #fff;
    z-index: 1;
    font-size: 50px;
    line-height: 1;
    width: 30px;
    text-align: center;
    top: 33%;
}

.article-title_big {
    font-size: 32px;
    line-height: 1.3;
}

.article-photo-count {
    font-size: 18px;
    font-weight: 700;
    color: #ef9021;
}

/*  */

.icon-angle-left {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAuNCAxNy44IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMC40IDE3Ljg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDojRkZGRkZGO308L3N0eWxlPjx0aXRsZT5zZWFyY2g8L3RpdGxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMC40LDEuNWMwLDAuMi0wLjEsMC4zLTAuMiwwLjRsLTcsN2w3LDdjMC4xLDAuMSwwLjIsMC4zLDAuMiwwLjRjMCwwLjItMC4xLDAuMy0wLjIsMC40bC0wLjksMC45Yy0wLjEsMC4xLTAuMywwLjItMC40LDAuMmMtMC4yLDAtMC4zLTAuMS0wLjQtMC4yTDAuMiw5LjNDMC4xLDkuMiwwLDkuMSwwLDguOWMwLTAuMiwwLjEtMC4zLDAuMi0wLjRsOC4zLTguM0M4LjYsMC4xLDguOCwwLDguOSwwczAuMywwLjEsMC40LDAuMmwwLjksMC45QzEwLjMsMS4yLDEwLjQsMS4zLDEwLjQsMS41TDEwLjQsMS41eiIvPjwvc3ZnPg==);
    background-size: 100%;
    width: .375em;
}

.icon-angle-right {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAuNCAxNy44IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMC40IDE3Ljg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDojRkZGRkZGO308L3N0eWxlPjx0aXRsZT5zZWFyY2g8L3RpdGxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMC40LDguOWMwLDAuMi0wLjEsMC4zLTAuMiwwLjRsLTguMyw4LjNjLTAuMSwwLjEtMC4zLDAuMi0wLjQsMC4yYy0wLjIsMC0wLjMtMC4xLTAuNC0wLjJsLTAuOS0wLjlDMC4xLDE2LjYsMCwxNi41LDAsMTYuM2MwLTAuMiwwLjEtMC4zLDAuMi0wLjRsNy03bC03LTdDMC4xLDEuOCwwLDEuNiwwLDEuNXMwLjEtMC4zLDAuMi0wLjRsMC45LTAuOUMxLjIsMCwxLjMsMCwxLjUsMFMxLjgsMCwxLjksMC4ybDguMyw4LjNDMTAuMyw4LjYsMTAuNCw4LjcsMTAuNCw4LjlMMTAuNCw4Ljl6Ii8+PC9zdmc+);
    background-size: 100%;
    width: .375em;
}

.article-photo-wrap .slick-slider {
    margin-bottom: 10px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
}

.article-photo-wrap .slick-dots li button {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 20px;
}

.article-photo-wrap .slick-dots li.slick-active button {
    background: #ef9021;
}

.slick-dots li, .slick-dots li button {
    height: 10px;
    width: 10px;
    cursor: pointer;
}

.photo-lens .article-asset {
    height: 416px;
    overflow: hidden;
}

.photo-lens .article-asset img {
    position: absolute;
    width: 100%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.slick-dots li button { 
    border: 0;
    background: transparent;
    display: block;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
 } 

 .article-photo-wrap .slick-dots {
    top: -35px;
    bottom: auto;
    width: 20%;
    left: 40%;
 }

 .slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
 }

 .gramedia-gate .slick-slider {
    margin-bottom: 0;
 }

 .slick-list, .slick-slider {
    position: relative;
    display: block;
}

.gramedia-wrap {
    padding: 0;
    background: #e7e7e7;
}

.gramedia-wrap {
    position: relative;
}

.gramedia-asset {
    width: 160px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

.gramedia-item {
    background: #e7e7e7;
    padding: 0 0 40px;
}

.gramedia-gate .slick-slide img {
    margin: 0 auto;
}

.gramedia-buy {
    display: block;
    width: 80px;
    padding: 5px 10px;
    background: #3ca5dd;
    border: 1px solid #3ca5dd;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

h1, h2, h3, h4, h6 {
    font-size: 14px;
    font-weight: 400;
}

.gramedia-gate .slick-dots li, .gramedia-gate .slick-dots li button {
    width: 10px;
    height: 10px;
}

.gramedia-gate .slick-dots {
    bottom: 10px;
    z-index: 1;
}

.slick-slide img {
    display: block;
}

.gramedia-wrap .slick-dots li button {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 20px;
}

.gramedia-wrap .slick-dots li.slick-active button {
    background: #3ca5dd;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: top;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.article-box-topic {
    width: 100%;
    height: 150px;
    padding: 35px 20px;
    background: #9b9b9b;
}

.article-box-topic b {
    font-weight: 300;
    color: #fff;
    font-size: 28px;
    display: block;
    overflow: hidden;
    max-height: 75px;
}

.topic .article-link {
    height: 63px;
    overflow: hidden;
}

.topic .article-list-item {
    margin-bottom: 0;
}

.paging-wrap {
    position: relative;
}

.paging-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 5px 0;
}

.paging-link-active {
    background: #3ca5dd;
    border: 1px solid #3ca5dd;
    color: #fff !important;
}

.paging-link {
    padding: 8px 12px;
    display: block;
    line-height: 1;
    border-radius: 20px;
    color: #4a4a4a!important;
    background: #fff;
    border: 1px solid #e3e2e3;
    font-size: 17px;
    font-weight: 500;
}

.discover-column {
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.discover-menu {
    position: relative;
    display: block;
    padding: 12px 0 20 px;
}

.discover-menu li a {
    display: block;
    padding: 6px 0;
    text-transform: uppercase;
    font-family: Roboto Condensed,sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.discover {
    position: relative;
    padding: 0;
}

.width-70 {
    width: 70%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.width-30 {
    width: 30%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.width-22-2 {
    width: 22.2222222%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.width-77-7 {
    width: 77.7777778%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
} 

.logo img {
    width: auto;
    height: 50px;
}

img {
    max-width: 100%;
}

.text-right {
    text-align: right;
}

.social-footer {
    padding: 10px 0;
}

.social-item {
    display: inline-block;
    padding: 0 2px;
}

.footer-menu {
    position: relative;
}

.footer-menu-item-inline {
    padding: 0;
    display: inline-block;
}

.footer-menu-item {
    position: relative;
}

.footer {
    padding: 0 0 70px;
    background: #000;
    color: #fff;
    border-top: 4px solid #3ca5dd;
    width: 100%
}

.footer-bottom {
    padding: 30px 0 10px;
    color: #b1b1b1;
}

.footer-copy {
    padding: 5px 0;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
}

.logo, .logo a {
    display: inline-block;
}

.logo {
    position: relative;
    float: left;
}

.logo-achieve {
    position: relative;
    display: block;
    padding: 30px 0 0;
    width: 250px;
    float: left;
    text-align: center;
}

.logo-achieve-subtitle {
    padding: 0 0 5px;
    color: #fff;
    font-size: 13px;
    font-family: Roboto Condensed,sans-serif;
}

.logo-achieve-item {
    display: inline-block;
    text-align: center;
    padding: 0;
    vertical-align: top;
}

.logo__achieve__link {
    display: block;
}

.logo__achieve__img {
    padding: 5px;
}

.footer-menu-item-inline:after {
    content: " -";
}

.footer-menu-link {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
}

.old-article .article-list-asset .article-asset {
    height: 95px;
}

.old-article .article-list-asset {
    width: 105px;
    padding-right: 10px;
}

.breadcrumb, .breadcrumb-wrap {
    position: relative;
}

.breadcrumb-item {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #e55225;
}

.breadcrumb-link {
    position: relative;
    display: inline-block;
}

.breadcrumb-item:after {
    content: " / ";
}

.breadcrumb-item:last-child:after {
    content: "";
}

.read-title {
    margin: 5px 0;
    font-size: 36px;
    font-weight: 500;
    color: #000;
}

.width-10 {
    width: 10%;
}

.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.column {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.read-time {
    color: #545454;
    padding: 0 0 10px;
}

.bagikan-inline {
    padding: 20px 0 10px;
}

.social-text {
    padding: 11px 0 0;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 17px;
    display: inline-block;
    vertical-align: top;
}

.comment-read-text {
    position: relative;
    display: block;
    text-align: right;
    padding: 8px 0;
    float: right;
}

.comment-read-text a {
    color: #3ca5dd;
    font-weight: 500;
    font-size: 13px;
    padding: 0;
}

.comment-read-text .comment-counter:empty {
    min-width: 10px;
    min-height: 10px;
    top: -4px;
    padding: 3px 4px 0;
}

.comment-read-text .comment-counter {
    position: relative;
    left: unset;
    display: inline-block;
    top: -6px;
    padding: 3px 5px 0;
}

.comment-counter {
    position: absolute;
    min-width: 16px;
    min-height: 16px;
    z-index: 1;
    top: -2px;
    left: 20px;
    padding: 0 5px;
    border-radius: 8px;
    background: #e65225;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto,sans-serif;
    font-size: 9px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    transition: .5s cubic-bezier(.17,.67,.83,.67) 3s;
}

.photo-gallery .photo-icon-expand {
    width: auto;
    height: auto;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    line-height: 1;
    padding: 7px 10px;
}

.photo-icon {
    opacity: 0;
    background: rgba(0,0,0,0.5);
}

.photo-icon-expand {
    pointer-events: none;
}

.photo-gallery .icon-expand {
    font-size: 14px;
    margin-right: 5px;
    vertical-align: top;
}

.photo-gallery .photo-icon {
    opacity: 1;
}

.photo-icon-expand {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}

.icon-expand {
    background-size: contain;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNy41MzMiIGhlaWdodD0iMTAuNDUxIiB2aWV3Qm94PSIwIDAgMTcuNTMzIDEwLjQ1MSI+ICA8ZyBpZD0iZXllXzFfIiBkYXRhLW5hbWU9ImV5ZSAoMSkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTk4LjcyNSkiPiAgICA8cGF0aCBpZD0iUGF0aF85IiBkYXRhLW5hbWU9IlBhdGggOSIgZD0iTTguNzY3LDk4LjcyNWMtMy4zNSwwLTYuMzg4LDEuODMzLTguNjI5LDQuODFhLjY5NC42OTQsMCwwLDAsMCwuODI5YzIuMjQyLDIuOTgsNS4yOCw0LjgxMyw4LjYyOSw0LjgxM3M2LjM4OC0xLjgzMyw4LjYyOS00LjgxYS42OTQuNjk0LDAsMCwwLDAtLjgyOUMxNS4xNTQsMTAwLjU1OCwxMi4xMTcsOTguNzI1LDguNzY3LDk4LjcyNVptLjI0LDguOTA2YTMuNjg4LDMuNjg4LDAsMSwxLDMuNDQtMy40NEEzLjY5LDMuNjksMCwwLDEsOS4wMDcsMTA3LjYzMVptLS4xMTEtMS43YTEuOTg2LDEuOTg2LDAsMSwxLDEuODU0LTEuODU0QTEuOTgyLDEuOTgyLDAsMCwxLDguOSwxMDUuOTMxWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSIgZmlsbD0iI2ZmZiIvPiAgPC9nPjwvc3ZnPg==);
}


.photo-wrap {
    position: relative;
}

.photo-caption {
    padding: 10px 0;
    font-size: 12px;
    font-weight: 400;
    color: #999;
}

.photo-author {
    display: inline;
    font-size: 11px;
    font-weight: 500;
    color: #4d4d4d;
    padding: 0 5px;
}

.offset-0 {
    padding-left: 0;
    padding-right: 0;
}

.read-credit-item {
    display: inline-block;
    position: relative;
    padding: 0;
}

.read-credit-item span {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.read-credit-item a {
    font-weight: 700;
}

.width-77-7 .read-content {
    margin-right: -15px;
}

.read-content {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
}

.read-content p{
    margin-top: 16px;
    margin-bottom: 16px;
}

.read-content strong {
    font-weight: 700;
}

.read-content a.inner-link-baca-juga, .read-content a.inner-link-tag {
    color: #39c!important;
    font-weight: 700;
}

.paging-footnote {
    position: relative;
    padding: 20px 25px;
}

.paging-footnote span {
    display: inline-block;
    padding: 0 0 5px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.paging-footnote .next {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #3ca5dd;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.info-banner, .info-banner-header {
    position: relative;
}

.info-banner {
    margin: 20px 0;
    background: #f1f6fc;
    padding: 15px;
    border-radius: 5px;
}

.info-banner-header h4 {
    position: relative;
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
}

.info-banner-header>a {
    position: absolute;
    right: 0;
    top: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #1583cc;
}

.info-banner-list {
    position: relative;
    overflow: hidden;
}

.info-banner-header h4 span {
    color: #e75524;
}

.info-banner-list ul {
    display: block;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -5px;
}

.info-banner-list li {
    display: block;
    width: 33.33333%;
    padding: 0 5px 5px;
    flex-shrink: 0;
}

.info-banner-list li a {
    display: block;
}

.info-banner-list-img {
    position: relative;
    width: 100%;
    padding-top: 66.67%;
    margin-bottom: 8px;
    overflow: hidden;
    border-radius: 5px;
}

.info-banner-list li a {
    display: block;
}

.info-banner-list-img:before {
    content: "";
    background: #daeaf7;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.info-banner-list-img img {
    width: auto;
    height: 100%;
    z-index: 2;
}

.info-banner-list-img:after, .info-banner-list-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.info-banner-list-img:after {
    content: attr(data-placeholder);
    white-space: normal;
    text-align: center;
    word-wrap: normal;
    padding: 0 4px;
    width: 100%;
    z-index: 1;
    height: auto;
    max-height: 62px;
    overflow: hidden;
    font-size: 13px;
    line-height: normal;
    color: #2b2b2b;
}

.info-banner-arrow.-left {
    left: 4px;
    box-shadow: 3px 0 6px rgb(0 0 0 / 30%);
}

.info-banner-arrow {
    position: absolute;
    z-index: 2;
    top: 90px;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
}

.icon-arrow-left {
    transform: rotate(-40deg);
}

.icon-arrow {
    position: relative;
    display: block;
    width: 1rem;
    height: 1rem;
}

.icon-arrow:after {
    content: "";
    position: absolute;
    width: .5rem;
    height: .5rem;
    border-top: 2px solid #3ca5dd;
    border-left: 2px solid #3ca5dd;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.info-banner-arrow.-right {
    right: 4px;
    box-shadow: -3px 0 6px rgb(0 0 0 / 30%);
}

.icon-arrow-right {
    transform: rotate(
135deg
);
}

.read__tagging {
    padding: 10px 0 0;
    margin: 15px 0;
}

.tag, .tag-article {
    position: relative;
}

.tag-article-teaser {
    text-align: left;
    text-transform: uppercase;
    padding: 3px 0;
    font-size: 18px;
    font-weight: 800;
}

.tag-article-wrap {
    position: relative;
}

.tag-article-item {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

.tag-article-link {
    padding: 5px 10px;
    border-radius: 5px;
    background: #dfdfdf;
    display: block;
}

.related-inline {
    padding: 15px;
    margin: 0;
    background: #f1f1f1;
}

.related, .related-inline {
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.related-inline-teaser, .related-inline span {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #e55225;
}

.related-inline-title {
    font-size: 18px;
    font-weight: 300;
    color: #2a2a2a;
    border-bottom: 1px solid #d4d4d4;
    padding: 15px 0;
}

.clearfix:after {
    clear: both;
}

.related-inline-title:last-child {
    border-bottom: none;
    padding: 15px 0 5px;
}

.read-tagging {
    padding: 10px 0 0;
    margin: 15px 0;
}

.text-center {
    text-align: center;
}

.offset-left-right-minus-10px {
    margin-left: -10px;
    margin-right: -10px;
}

.jixie-logo-right {
    float: right;
}

.jixie-logo {
    font-size: 12px;
    padding: 15px 5px 5px;
    text-align: right;
    color: #b7b7b7;
    position: relative;
}

.article-wrap-grid-flex {
    display: block;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.jixie-logo-img {
    cursor: pointer;
    display: inline-block;
}

.jixie-logo img {
    width: 60px;
}

.jixie-logo-img .tooltips {
    width: 335px;
    z-index: 2;
}

.tooltips:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(
-45deg
);
    background: #2d2d2d;
}

.jixie-logo span {
    position: relative;
    vertical-align: bottom;
}

.tooltips span {
    border-radius: 5px;
    background: #2d2d2d;
    display: block;
    padding: 10px;
    font-size: 11px;
    font-weight: 300;
    color: #fff;
}

.recommendation-small .article-wrap-grid-flex .article-grid {
    margin-bottom: 0;
}

.recommendation-small .article-boxsubtitle {
    top: 10px;
    padding: 5px;
}

.article-boxsubtitle {
    padding: 5px 10px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 15px;
    z-index: 1;
    color: #e55225;
}

.recommendation-small .article-box {
    padding: 5px 10px 10px;
}


.recommendation-small .article-title {
    max-height: 97px;
    height: 97px;
    overflow: hidden;
    font-size: 16px;
}

.article-grid, .article__list {
    position: relative;
}

.width-25 {
    width: 25%;
}

.recommendation-small .width-25 {
    padding-left: 10px;
    padding-right: 10px;
}

.tooltips {
    position: absolute;
    width: 200px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
    cursor: default;
}

.comment > .comment-wrap {
    padding: 0 10px;
    margin: 0;
    background: #f5fcff;
}

.comment > .comment-wrap {
    padding: 0 20px;
    margin: 0;
}

.comment-wrap {
    padding: 0;
}

.comment .comment-promo {
    padding: 20px 0 5px;
    margin: 0;
}

.comment-promo {
    position: relative;
    /* padding: 20px 0 10px;
    display: -ms-flexbox; */
    display: flex;
}

.comment-promo-img {
    width: 130px;
}

.comment-promo-content {
    width: calc(100% - 130px);
    padding: 0 10px;
}

.comment-promo p {
    font-size: 16px;
    margin: 0;
    padding-bottom: 4px;
}

.comment-promo span {
    color: #e65224;
    font-weight: 700;
}

.comment-promo a {
    font-size: 13px;
    font-weight: 700;
    color: #3ca5dd;
    float: right;
}

.comment-wrap a {
    text-decoration: none;
}

.comment-wrap .button, .comment-wrap button, .comment-wrap input, .comment-wrap select, .comment-wrap textarea {
    margin: 0;
    padding: 8px 12px;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);
    background-color: #fff;
    border: 1px solid #c4c4c4;
    outline: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    transition: all .2s ease;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857;
    color: #c2bebe;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

.comment-form {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #d6d6d6;
}

.comment-form textarea {
    resize: none;
    height: 100px;
}

.comment-wrap textarea {
    min-height: 100px;
    max-width: 100%;
    display: block;
    width: 100%;
}

.comment-error {
    display: block;
    position: relative;
    padding: 5px 0 0;
    font-size: 11px;
    color: #d00000;
}

.comment-disclaimer {
    padding: 5px 0 0;
    font-size: 11px;
    color: #979797;
}

.comment-button .send {
    background: #3ca5dd;
    border: 1px solid #3ca5dd;
    font-size: 13px;
    color: #fff;
    padding: 8px 15px;
}

.comment-wrap button, .comment-wrap input[type=button], .comment-wrap input[type=checkbox], .comment-wrap input[type=radio], .comment-wrap input[type=reset], .comment-wrap input[type=submit] {
    cursor: pointer;
}

.comment-button.action {
    font-size: 12px;
}

.comment-button.action {
    display: inline-block;
    background: transparent;
    border: 1px solid transparent;
    box-shadow: none;
    padding: 4px 5px;
    border-radius: 8px;
    font-size: 11px;
    color: #666;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: top;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.comment-counter-inline {
    position: relative;
    display: inline-block;
    left: -5px;
    top: 2px;
}

.comment-empty {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.comment-list {
    position: relative;
    padding: 10px 0;
}

.comment-disclaimer {
    padding: 5px 0 0;
    font-size: 11px;
    color: #979797;
}

.comment-row {
    position: relative;
    padding: 0;
}

.comment-form-footer {
    padding: 15px 0 0;
    text-align: right;
}

.comment-button.send {
    background: #3ca5dd;
    border: 1px solid #3ca5dd;
    font-size: 13px;
    color: #fff;
    padding: 8px 15px;
}